# ___

# [ Machine Learning in Geosciences ]

**Department of Applied Geoinformatics and Carthography, Charles University** 

*Lukas Brodsky lukas.brodsky@natur.cuni.cz*

    
___

## Python Pandas exercises 

Tasks: 

1. Create Pandas Series; 

2. Create indexed series; 

3. Select susbset from DataFrame; 

4. Apply conditional selection; 

5. Input data from text file;

In [2]:
import numpy as np
import pandas as pd
from numpy.random import randn
np.random.seed(101)

### Object Creation

<span style="color:red">Exercise 1:</span> create Pandas Series of 1 .. 20 numbers and  A .. T letters as index.

In [15]:
pass

### Data in a Series

<span style="color:red">Exercise 2:</span> create alphabetically indexed Pandas series of EU27 counties.

In [16]:
# 'AT', 'BE', 'BG', 'HR', 'CY', 'CZ', 'DK', 'EE', 'FI', 'FR', 'DE', 'GR', 'HU', 'IE', 'IT', 'LV', 'LT', 'LU', 'MT', 'NL', 'PL', 'PT', 'RO', 'SK', 'SI', 'ES', 'SE'
pass

In [17]:
# eu27.head()

### DataFrames

In [18]:
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

<span style="color:red">Exercise 3:</span> Select columns X to Z and rows B and C from Pandas DataFrame **df**.

In [19]:
pass

In [20]:
pass

In [21]:
pass

**Create new column as a product of column X and Y**

In [11]:
pass

In [22]:
# print the result

### Conditional Selection

<span style="color:red">Exercise 4:</span> Select all negative data

In [23]:
pass

### Data Input and Output

<span style="color:red">Exercise 5:</span> Read csv data stored in file *multi_index_example* to Pandas DataFrame.

In [24]:
file_name = 'multi_index_example'
pass

In [26]:
# print head